<form>
    <div class="row">
    <div class="col-md-5">
      <label>Customer Type</label>
      <select name="CustomerType" class="form-control"[(ngModel)]="objunitprice.CustomerType">
        <option *ngFor="let customertype of lstcustomertype"
        [value]="customertype.key">{{customertype.value}}</option>
      </select>
    </div>
      <div class="col-md-5">
        <label>Per UnitPrice</label>
        <input type="number"  name="UnitPerPrice" [(ngModel)]="objunitprice.UnitPerPrice" class="form-control"  autocomplete="off">
      </div>

      <div class="col-md-5">
        <label>Status</label>
      <select name="Status" class="form-control"
       [(ngModel)]="objunitprice.Status">
        <option *ngFor="let status of lststatus"
    [value]="status.key">{{status.value}}</option>
    </select>
    </div>
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-1">
        <button aria-pressed="true" class="btn btn-block btn-success active"(click)="AddUnitPrice()" type="button">Assign</button>
      </div>
      <div class="col-md-5">
      </div>
    </div>
    </form>
