<form>
<div class="row">
    <div class="col-md-5">
    <label>Meter Number</label>
    <select name="MeterNumber" class="form-control"
    [(ngModel)]="lstmeterassign.MeterId">
    <option *ngFor="let meter of lstmetertable"
    [value]="meter.MeterId">{{meter.MeterNumber}}</option>
    </select>
    </div>
    
    <div class="col-md-5">
    <label>Customer Name</label>
    <select name="CustomerName" class="form-control"
    [(ngModel)]="lstmeterassign.CustomerId">
    <option *ngFor="let customer of lstcustomer"
    [value]="customer.CustomerId">{{customer.CustomerName}}</option>
    </select>
    </div>
    
    <div class="col-md-5">
    <label>Status</label>
    <select name="Status" class="form-control"
    [(ngModel)]="lstmeterassign.Status">
    <option *ngFor="let status of lststatus"
    [value]="status.key">{{status.value}}</option>
    </select> 
    </div>
</div>
    
    
<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-1">
    <button aria-pressed="true" class="btn btn-pill btn-block btn-primary active" (click)="submit()" type="button">Assign</button>
    </div>
    <div class="col-md-5">
    </div>
</div>
</form>
    
    