<div class="Main">
  <div class="page-wrapper" style="height: 2300px;">
     <div class="page-content--bge5">
         <div class="container">
             <div class="login-wrap">
                 <div class="login-content">
                     <div class="login-logo">
                         <a href="#">
                             <img src="assets\images\icon\Expanding-role-of-design-1536x1536-400_Standard.jpg" alt="AddRole">
                         </a>
                     </div>
                     <div class="login-form">
                         <form >

                         <div class="form-group">
                             <label>Role Name</label>
                             <input type="text"  name="RoleName" [(ngModel)]="objRole.RoleName" class="au-input au-input--full"  autocomplete="off">
                           </div> <button type="submit" (click)="AddRole()" class="btn btn-primary">AddRole</button>

                         </form>

                     </div>
                 </div>
             </div>
         </div>
     </div>

   </div>
   </div>


