

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Support Table
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                  <th>Content</th>
                  <th>Subject</th>
                  <th>Status</th>
                  <th>Action</th>
                  <th><button type="button" class="btn btn-primary mr-1" data-toggle="modal" (click)="primaryModal.show()">
                    Add User
                  </button></th>


              </tr>
          </thead>
          <tbody >
            <tr *ngFor="let objsupport of lstSupport">
                <td >{{objsupport.SupportContent}}</td>
                <td>{{objsupport.SupportSubject}}</td>
                <td ><span class="btn-success" *ngIf="objsupport.Status===1"> <i class="fa fa-check" aria-hidden="true"></i> Active</span>
                  <span class="btn-danger" *ngIf="objsupport.Status===2"> <i class="fa fa-times" aria-hidden="true"></i> Deactived</span>
            </td>



            <td> <a class="btn btn-warning" routerLink="../{{ objsupport.SupportId }}/edit" (click)="primaryModal.show()"><i class="fas fa-edit"></i></a></td>

            </tr>

        </tbody>


          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center;">Add User</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <form>
        <h1 style="text-align: center;">Add User</h1>
        <p class="text-muted">Create your Account</p>
        <div class="input-group mb-12">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" class="form-control"  [(ngModel)]="objSupport.SupportContent" name="SupportContent" placeholder="SupportContent" autocomplete="SupportContent" required>
        </div>
        <div class="input-group mb-12">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="objSupport.SupportSubject" name="SupportSubject" placeholder="SupportSubject" autocomplete="SupportSubject" required>
          
        </div>
        <div class="input-group mb-12">
          <div class="input-group-prepend">
            <span class="input-group-text"><i >Status</i></span>
          </div>
          <select name="Status" class="form-control"
            [(ngModel)]="objSupport.Status" name="Status">
            <option *ngFor="let status of lststatus"
            [value]="status.key">{{status.value}}</option>
            </select>
        </div>
          
        
        
      </form>
        
      <div class="modal-footer">
        
                    
        <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="AddSupport()">Save changes</button>
      </div>
    </div>
    </div>
</div>




