<div class="animated fadeIn">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-1">
            <button aria-pressed="true" class="btn btn-block btn-success active" [routerLink]="['/Notice/AddNotice']" type="button"><i class="fa fa-plus-circle fa-lg "></i> Notice</button>
        </div>
        <div class="col-md-7">
          

        </div>
        <div class="col-md-4">
          <form class="form-header" action="" method="POST">
              <input class="form-control" [(ngModel)]="search" type="text" name="search" placeholder="Search for Information &amp; reports..." />
              <button class="btn btn-success" (click)="search()" type="submit">
                <i class="fas fa-search"></i>
              </button>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Notice Table
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                  <th>Notice Name </th>
                  <th>Status</th>
                  <th>Action</th>


              </tr>
          </thead>
          <tbody >
            <tr *ngFor="let objnotice of lstNotice">
                <td >{{objnotice.Notices}}</td>
                <td>{{objnotice.Status}}</td>
            <td> <a class="btn btn-warning" routerLink="../{{ objnotice.NoticeId }}/edit"><i class="fas fa-edit"></i></a></td>

            </tr>

        </tbody>


          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>

    </div>





