# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


/Server/ElectricityBillPayment/Common.Electricity/bin
/Server/ElectricityBillPayment/Common.Electricity/obj
Client/ElectricityBillPayment-Client/
Server/ElectricityBillPayment/Common.Electricity/bin/Debug/netcoreapp3.1/Common.Electricity.dll
Server/ElectricityBillPayment/Common.Electricity/bin/Debug/netcoreapp3.1/Common.Electricity.pdb
Server/ElectricityBillPayment/Common.Electricity/bin/Debug/netcoreapp3.1/Common.Electricity.runtimeconfig.dev.json
Server/ElectricityBillPayment/Common.Electricity/obj/Common.Electricity.csproj.nuget.dgspec.json
Server/ElectricityBillPayment/Service.Electricity/obj/Service.Electricity.csproj.nuget.g.props
Server/ElectricityBillPayment/Service.Electricity/obj/Service.Electricity.csproj.nuget.dgspec.json
Server/ElectricityBillPayment/Service.Electricity/obj/project.nuget.cache
Server/ElectricityBillPayment/Service.Electricity/obj/project.assets.json
Server/ElectricityBillPayment/Service.Electricity/obj/Debug/netcoreapp3.1/Service.Electricity.pdb
Server/ElectricityBillPayment/Service.Electricity/obj/Debug/netcoreapp3.1/Service.Electricity.genruntimeconfig.cache
Server/ElectricityBillPayment/Service.Electricity/obj/Debug/netcoreapp3.1/Service.Electricity.dll
Server/ElectricityBillPayment/Service.Electricity/obj/Debug/netcoreapp3.1/Service.Electricity.csprojAssemblyReference.cache
Server/ElectricityBillPayment/Service.Electricity/obj/Debug/netcoreapp3.1/Service.Electricity.csproj.FileListAbsolute.txt
Server/ElectricityBillPayment/Service.Electricity/obj/Debug/netcoreapp3.1/Service.Electricity.csproj.CoreCompileInputs.cache
Server/ElectricityBillPayment/Service.Electricity/obj/Debug/netcoreapp3.1/Service.Electricity.assets.cache
Server/ElectricityBillPayment/Service.Electricity/obj/Debug/netcoreapp3.1/apphost.exe
Server/ElectricityBillPayment/Service.Electricity/bin/Debug/netcoreapp3.1/Service.Electricity.runtimeconfig.json
Server/ElectricityBillPayment/Service.Electricity/bin/Debug/netcoreapp3.1/Service.Electricity.runtimeconfig.dev.json
Server/ElectricityBillPayment/Service.Electricity/bin/Debug/netcoreapp3.1/Service.Electricity.pdb
Server/ElectricityBillPayment/Service.Electricity/bin/Debug/netcoreapp3.1/Service.Electricity.exe
Server/ElectricityBillPayment/.vs/Electricity/DesignTimeBuild/.dtbcache.v2
Server/ElectricityBillPayment/.vs/ElectricityBillPayment/v16/.suo
Server/ElectricityBillPayment/Common.Electricity/bin/Debug/netcoreapp3.1/Common.Electricity.dll
Server/ElectricityBillPayment/Common.Electricity/bin/Debug/netcoreapp3.1/Common.Electricity.pdb
Server/ElectricityBillPayment/Common.Electricity/bin/Debug/netcoreapp3.1/Common.Electricity.runtimeconfig.dev.json
Server/ElectricityBillPayment/Common.Electricity/obj/project.nuget.cache
Server/ElectricityBillPayment/Context/bin/Debug/netcoreapp3.1/Context.dll
