<form>
    <div class="row">
    <div class="col-md-5">
      <label>Zone Name</label>
      <input type="text"  name="Image" [(ngModel)]="objzone.ZoneName" class="form-control"  autocomplete="off">
    </div>
    <div class="col-md-5">
    <label>Status</label>
    <select name="Status" class="form-control"
    [(ngModel)]="objzone.Status">
    <option *ngFor="let status of lststatus"
    [value]="status.key">{{status.value}}</option>
    </select>
    </div>
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-1">
        <button aria-pressed="true" class="btn btn-pill btn-block btn-primary active" (click)="AddZone()" type="button">Add Zone</button>
      </div>
      <div class="col-md-5">
      </div>
    </div>
    </form>
    