<form>
  <div class="row">
    <div class="col-md-5">
      <label>MeterNumber</label>
      <input type="text"  name="MeterNumber" [(ngModel)]="vmaddmeter.MeterNumber" class="form-control"  autocomplete="off">
    </div>
    <div class="col-md-5">
      <label>Mobile Number</label>
      <input type="text"  name="MobileNo" [(ngModel)]="vmaddmeter.MobileNo" class="form-control"  autocomplete="off">
    </div>
    <div class="col-md-5">
      <label>CurrentUnit</label>
      <input type="text"  name="CurrentUnit" [(ngModel)]="vmaddmeter.CurrentUnit" class="form-control"  autocomplete="off">
    </div>
    <div class="col-md-5">
      <label>Month</label>
      <select name="Month" class="form-control"
      [(ngModel)]="vmaddmeter.Month">

      <option *ngFor="let month of lstmonth"
      [value]="month.key">{{month.value}}</option>
      </select>
      </div>
      <div class="col-md-5">
        <label>Year</label>
        <input type="text"  name="Year" [(ngModel)]="vmaddmeter.Year" class="form-control"  autocomplete="off">
      </div>

  <!-- <div class="col-md-5">
  <label>Status</label>
  <select name="Status" class="form-control"
  [(ngModel)]="vmaddmeter.Status">

  <option *ngFor="let status of lststatus"
  [value]="status.key">{{status.value}}</option>
  </select>
  </div> -->
  </div>


  <div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-1">
  <button aria-pressed="true" class="btn btn-pill btn-block btn-primary active" (click)="Submit()" type="button">Assign</button>
  </div>
  <div class="col-md-5">
  </div>
  </div>
  </form>


