<div class="padding">
  <div class="row">
      <div class="container-fluid d-flex justify-content-center">
          <div class="col-sm-8 col-md-6">
              <div class="card">
                  <div class="card-header">
                      <div class="row">
                          <div class="col-md-6"> <span>BKash/Rocket PAYMENT</span> </div>
                          <div class="col-md-6 text-right" style="margin-top: -5px;"> <img src="https://img.icons8.com/color/36/000000/visa.png"> <img src="https://img.icons8.com/color/36/000000/mastercard.png"> <img src="https://img.icons8.com/color/36/000000/amex.png"> </div>
                      </div>
                  </div>
                  <div class="card-body" style="height: 350px">
                    <div class="row">
                      <div class="col-md-6">
                        <label>Mobile Banking Type</label>
                        <select name="MobileBankingType" class="form-control"
                        [(ngModel)]="objmobile.MobileBankingType">
                    <!-- <option [value]="-1">-Select-</option> -->
                    <option *ngFor="let MobileBankingType of lstmobilebankingtype"
                    [value]="MobileBankingType.key">{{MobileBankingType.value}}</option>
                    </select>
                    </div>
                    <div class="col-md-6">
                      <label>Mobile Number</label>
                      <input type="text"  name="MobileNo" [(ngModel)]="objmobile.MobileNo" class="form-control"  autocomplete>
                   </div>
                   <div class="col-md-6">
                    <label>Pin</label>
                    <input type="password"  name="Pin" [(ngModel)]="objmobile.Pin" class="form-control"  autocomplete>
                   </div>
                   <div class="col-md-6">
                    <label>Balance</label>
                    <input type="text"  name="Balance" [(ngModel)]="objmobile.Balance" class="form-control"  autocomplete>
                   </div>

                      <div class="col-md-6">
                        <label>Status</label>
                        <select name="Status" class="form-control"
                        [(ngModel)]="objmobile.Status">
                    <!-- <option [value]="-1">-Select-</option> -->
                    <option *ngFor="let status of lststatus"
                    [value]="status.key">{{status.value}}</option>
                    </select>
                    </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                          <button aria-pressed="true" class="btn btn-pill btn-block btn-primary active"(click)="AddMobile()" type="button">Add</button>
                        </div>
                        <div class="col-md-4">
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

