<!-- <form>
    <div class="row"> -->
    <!-- <div class="col-md-5">
      <label>Email </label>
      <input type="email"  name="Email" [(ngModel)]="objvmpass.Email" class="form-control"  autocomplete="off" required>
    </div> -->
    <!-- <div class="col-md-5">
        <label>OldPassword</label>
        <input type="password"  name="OldPassword" [(ngModel)]="objvmpass.OldPassword" class="form-control"  autocomplete="off" required>
    </div>
    <div class="col-md-5">
        <label>NewPassword</label>
        <input type="password"  name="NewPassword" [(ngModel)]="objvmpass.NewPassword" class="form-control"  autocomplete="off" required>
    </div>
    <div class="col-md-5">
      <label>Confirm Password</label>
      <input type="password"  name="RetypePassword" [(ngModel)]="objvmpass.RetypePassword" class="form-control"  autocomplete="off" required>
  </div>
    
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-1">
        <button aria-pressed="true" class="btn btn-pill btn-block btn-primary active" (click)="ChangePassword()" type="button">Submit</button>
      </div>
      <div class="col-md-5">
      </div>
    </div>
</form> -->
<div class="container">
  
  <div class="row">
  
    <div class="col-md-8 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          
          <div class="card-body">
            <form>
              <h1>Change Password</h1>
              <p class="text-muted">Change Your Password</p>


              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" [(ngModel)]="objvmpass.OldPassword" name="OldPassword" placeholder="OldPassword" required>
              </div>

              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" [(ngModel)]="objvmpass.NewPassword" name="NewPassword" placeholder="NewPassword" required>
              </div>

              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" [(ngModel)]="objvmpass.RetypePassword" name="RetypePassword" placeholder="RetypePassword"  required>
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn btn-block btn-primary" (click)="ChangePassword()" style="margin-left:50% ;" >Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    

