<div class="animated fadeIn">
    <div class="col-lg-12">
      <div class="row" style="margin-bottom: 100px; margin-top: 10px;">
        
        
      </div>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Bill History Table
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                  <th>Customer Name</th>
                  <th>Meter Number</th>
                  <th>Current Unit</th>
                  <th>Previous Unit</th>
                  <th>Current Month</th>
                  <th>Bill Amount</th>
                  <th>Bill Status</th>


              </tr>
          </thead>
          <tbody >
            <tr *ngFor="let objbill of lstbill">
              <td >{{objbill.CustomerName}}</td>
              <td>{{objbill.MeterNumber}}</td>
              <td>{{objbill.CurrentUnit}}</td>
              <td>{{objbill.PreviousUnit}}</td>
              <td>{{objbill.CurrentMonth}}</td>
              <td>{{objbill.BillAmount}}</td>
              <td>{{objbill.BillStatus}}</td>
              <td ><span class="btn-success" *ngIf="objbill.BillStatus===2"> <i class="fa fa-check" aria-hidden="true"></i> Paid</span>
                <span class="btn-danger" *ngIf="objbill.BillStatus===1"> <i class="fa fa-times" aria-hidden="true"></i> Unpaid</span>
          </td>


              <td> <a class="btn btn-primary" *ngIf="objbill.BillStatus===1" routerLink="../../Bill/{{ objbill.BillId }}/Payment"><i class="fa fa-plus" aria-hidden="true"> Pay Bill</i></a></td>
          </tr>
            

        </tbody>


          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
    </div>








