<div class="animated fadeIn">
    <div class="col-lg-12">
      <div class="row" style="margin-bottom: 100px; margin-top: 10px;">
        
        
      </div>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Bill Payment History Table
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                  <th>Customer Name</th>
                  <th>Meter Number</th>
                  <th>Year</th>
                  <th>Month</th>
                  <th>Usage Unit</th>
                  <th>Last Billed Unit</th>
                  <th>Payment Date</th>
                  <th>Payment Method</th>




              </tr>
          </thead>
          <tbody >
            <tr *ngFor="let payment of lstpayment">
              <td >{{payment.CustomerName}}</td>
              <td>{{payment.MeterNumber}}</td>
              <td >{{payment.Year}}</td>
              <td><span class="btn-default" *ngIf="payment.Month===1">January</span>
                <span class="btn-default" *ngIf="payment.Month===2">February</span>
                <span class="btn-default" *ngIf="payment.Month===3">March</span>
                <span class="btn-default" *ngIf="payment.Month===4">April</span>
                <span class="btn-default" *ngIf="payment.Month===5">May</span>
                <span class="btn-default" *ngIf="payment.Month===6">June</span>
                <span class="btn-default" *ngIf="payment.Month===7">July</span>
                <span class="btn-default" *ngIf="payment.Month===8">August</span>
                <span class="btn-default" *ngIf="payment.Month===9">September</span>
                <span class="btn-default" *ngIf="payment.Month===10">October</span>
                <span class="btn-default" *ngIf="payment.Month===11">November</span>
                <span class="btn-default" *ngIf="payment.Month===12">December</span>
                </td>
              <td >{{payment.UsageUnit}}</td>
              <td>{{payment.LastBilledUnit}}</td>
              <td>{{payment.PaymentDate}}</td>
              <td ><span class="btn-default" *ngIf="payment.PaymentMethod===2">
                <img src="https://png.pngtree.com/png-vector/20190301/ourlarge/pngtree-vector-mobile-banking-icon-png-image_747098.jpg" style="height: 30px; width: 30px;" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </span>
                <span class="btn-default" *ngIf="payment.PaymentMethod===1"> 
                  <img src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-credit-card-icon-png-image_4278064.jpg" style="height: 30px; width: 30px;" class="img-avatar" alt="admin@bootstrapmaster.com">
                  <span class="avatar-status badge-success"></span>
                </span>
          </td>


             
          </tr>

        </tbody>


          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
    </div>








