<form>
    <div class="row">
    <div class="col-md-5">
      <label>Meter Number </label>
      <input type="text"  name="MeterNumber" [(ngModel)]="objMeter.MeterNumber" class="form-control"  autocomplete="off">
    </div>
    <div class="col-md-5">
        <label>ExpiredDate</label>
        <input type="date"  name="ExpiredDate" [(ngModel)]="objMeter.ExpiredDate" class="form-control"  autocomplete="off">
    </div>
    <div class="col-md-5">
        <label>Status</label>
        <select name="Status" class="form-control"
        [(ngModel)]="objMeter.Status">
    <!-- <option [value]="-1">-Select-</option> -->
    <option *ngFor="let status of lstStatus"
    [value]="status.key">{{status.value}}</option>
    </select>
    </div>
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-1">
        <button aria-pressed="true" class="btn btn-pill btn-block btn-primary active" (click)="AddMeter()" type="button">Add Meter</button>
      </div>
      <div class="col-md-5">
      </div>
    </div>
</form>


