<div class="Main">
  <div class="page-wrapper" style="height: 2300px;">
     <div class="page-content--bge5">
         <div class="container">
             <div class="login-wrap">
                 <div class="login-content">
                     <div class="login-logo">
                         <a href="#">
                             <img src="assets\images\icon\kisspng-bulletin-board-computer-icons-blackboard-bulletin-boards-5adcef662baef1.9688734715244286461789-removebg-preview.png" alt="Add Notice">
                         </a>
                     </div>
                     <div class="login-form">
                         <form >

                         <div class="form-group">
                             <label>Notice Name</label>
                             <input type="text"  name="NoticeName" [(ngModel)]="objNotice.Notices" class="au-input au-input--full"  autocomplete="off">
                           </div> <button type="submit" (click)="AddNotice()" class="btn btn-primary">AddNotice</button>

                         </form>

                     </div>
                 </div>
             </div>
         </div>
     </div>

   </div>
   </div>

